@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
:root {
    --p-color: #365775;
    --bg-color: #93ABC2;
    --h1-color: #085175;
}
[data-theme=dark]{
    --p-color: #73b0e9;
    --bg-color: #23496d;
    --h1-color: #93ABC2;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    width: 100%;
}
.content-wrapper{
    text-align: center;
    width: 100%;
}
h1{
    font-size: 100px;
    margin: 0;
    color: var(--h1-color);
    letter-spacing: 5px;
}
p{
    font-size: 5px;
    margin: 25px 0 30px 0;
    color: var(--p-color);
}
#imgCarrito{
    width: 35px;
    height: 35px;
}
#btnCargaFinalizada{
    color: rgb(14, 117, 14);
    padding: 4rem;
}
.theme-switcher-wrapper{
    align-items: center;
    margin-top: 60px;
}
.theme-switch{
    display: inline-block;
    height: 100px;
    position: relative;
    width: 250px;
}
.theme-switch input{
    display: none;
}
.slider{
    background-color: #a0b3e7;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.9s;
}
.slider:before{
    background-color: #085175;
    bottom: 4px;
    content: "";
    height: 92px;
    left: 5px;
    position: absolute;
    transition: 0.9s;
    width: 92px;
}
input:checked + .slider{
    background-color: #B7C23C;
}
input:checked + .slider::before{
    transform: translateX(148px);
}
body {
    padding-top: 5rem;
    background-color: #f5f5f5;
}
.form-signin {
    max-width: 25rem;
    margin: auto;
}
.slider.round{
    border-radius: 80px;
}

.slider.round:before{
    border-radius: 50%;
}
section{
    text-align: center;
}