@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
:root {
    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
}
body.dark {
    background: var(--dark-2);
}
#toggle-button {
    position: absolute;
}
#toggleDarkMode {
    background: var(--light-2);
    border-radius: 20px;
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 68px;
}
#toggle-button:checked + #toggleDarkMode {
    background: var(--dark-0);
}
#toggleDarkMode .darkMode {
    background: var(--light-1);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
}
#toggle-button:checked + #toggleDarkMode .darkMode {
    background: var(--dark-1);
    transform: translateX(30px);
}
section{
    text-align: center;
}